Adafruit-Blinka==4.1.0
adafruit-circuitpython-busdevice==4.3.0
adafruit-circuitpython-mcp9808==3.3.0
Adafruit-PlatformDetect==2.4.0
Adafruit-PureIO==1.0.4
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
decorator==4.4.2
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pyftdi==0.47.2
Pygments==2.6.1
pyserial==3.4
pyusb==1.0.2
requests==2.23.0
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
six==1.14.0
spidev==3.4
sysv-ipc==1.0.1
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
