{
  "service": {
    "host":"some_host",
    "port":"some_port",
    "route":"/temperature"
  },
  "logger": {
    "path":"/some_path",
    "when":"d",
    "interval":1
  },
  "slack": {
    "slack_url":"slack-url.com/webhook-url"
  }
}
